<div class="col-lg-4 l-full-height bottom-padding-buffer">
  <div class="well l-full-height l-overflow-y reset-bottom-margin">
    <h3>Surveys</h3>
    <div class="list-group">
      <% @surveys.each do |survey| %>
        <%= link_to survey.name, new_survey_attempt_path(survey), class: "list-group-item #{'active' if @survey && @survey == survey}" %>
      <% end %>
    </div>
  </div>
</div>